.left {
    float: left;
}

.right {
    float: right;
}

.head {
    height: 38px;
    padding: 6px 20px 0px 20px;
}

.title {
    font-size: 25px;
}

.node {
    font-size: 18px;
    height: 25px;
    padding: 4px;
}

a.node-src {
    color: gray;
}

.topics-box {
    min-height: 350px;
    border-radius: 10px;
    background: rgba(109, 146, 148, 0.21);
    border-style: groove;
    max-height: 60%;
}

.topic-title {
    text-align: center;
    font-size: 18px;
    background-color: antiquewhite;
    padding: 5px 0;
    color: black;
    margin: 0 0 5px;
}

.topic-content {
    font-family: sans-serif;
    margin: 0px 6px;
    background-color: white;
    height: 275px;
    padding: 0 10px;
    border-radius: 5px;
}

footer.topic-foot {
    float: right;
    margin: 5px 10px;
}

a.link-bottom {
    font-size: 16px;
    font-family: cursive;
}

.height-20{
    height: 20px;
}

.topic-comment-container{
    min-height: 350px;
    border-radius: 10px;
    background: rgba(109, 146, 148, 0.21);
    border-style: groove;
    max-height: 60%;
}

.comment-num{
    text-align: center;
    font-size: 18px;
    background-color: antiquewhite;
    padding: 5px 0;
    color: black;
    margin: 0 0 5px;
}

.avatar {
    max-width: 50px;
    max-height: 80px;
}

.span-margin {
    display: inline-block;
    margin: 0 10px;
}

.com {
    float: right;
}

.comment-div {
    padding: 5px 0;
}

.comment-form {
    padding: 5px 0;
    margin-top: 10px;
}

.line-straight {
    height: 1px;
    border-top: 1px black solid;
    border-bottom: none;
}

.comment-cell.cell.item {
    min-height: 70px;
    margin: 5px;
    background-color: aliceblue;
}

.comment-div.hide {
    height: 72px;
    background-color: aqua;
    margin-top: 60px;
}

input.left.m.id-input-comment {
    margin-left: 16%;
    border-radius: 3px;
    border: 1px;
}

