{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<h1 class="page-header text-capitalize">{{ _('Sign In') }}</h1>
<div class="row">
    <div class="col-md-4 col-lg-10">
        {{ wtf.quick_form(form) }}<br>
        <div class="text-left text-capitalize text-justify">
            <p>{{ _('New User?') }} <a href="{{ url_for('register') }}">{{ _('Click to Register!') }}</a></p>
            <p>
                {{ _('Forgot Your Password?') }}
                <a href="{{ url_for('reset_password_request') }}">{{ _('Click to Reset It') }}</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}